<section class="position-absolute top-50 start-50 translate-middle">
<h1>Edit Article</h1>


<%= form_with model: @article do |f|%>
<p>
<% if @article.errors.any?%>
<ul>
    <% @article.errors.full_messages.each do |message|%>
    <li><%= message%></li>
    <%end%>
</ul>
<%end%>

<p>
    <%= f.label :name %> <br/>
    <%= f.text_field :name, class: 'input-group-text' %>
</p>

<p>
    <%= f.label :body %> <br/>
    <%= f.text_field :body, class: 'input-group-text' %>
</p>

<p>
 <%= f.submit%>
</p>
<p><%= link_to "Back to Articles", root_path %> </p>
<% end %>
</section>
